{% extends "pews/base.html" %}
{% load static %}
    {% block up %}
<link rel="stylesheet" href="{% static 'css/pew.css' %}">
    {% endblock %}
{% block title %}
Вiдео
{% endblock  %}

{% block osk %}


<div class="container px-4 px-md-3 flex-container">
  <div class="row align-items-lg-center">


<div class="col-sm-4">
    <div class="omg">
     <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/MWv1Scd_zBU"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
</div>
</div>
<div class="col-sm-4">
     <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/ISkJHeP3Hws"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
</div>

<div class="col-sm-4">
     <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/SKV1g4PE4cM"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
</div>

<div class="col-sm-4">
     <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/8XkNmKd1ciM"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
</div>

<div class="col-sm-4">
     <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/sBRYVn4KdK8"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
</div>
</div>

</div>

{% endblock %}