{% extends "pews/base.html" %}
{% load static %}
    {% block up %}
<link rel="stylesheet" href="{% static 'css/pew.css' %}">
    {% endblock %}
{% block title %}
Зв'язок
{% endblock  %}

{% block content %}

      <div class="coris">
        <p>Контакти для зв'язку:</p>
        <p>
          Телефон: +380 68 607 1486


        </p>
        <p>e-mail:   gopnl@ukr.net </p>

      </div>



        <div id="footer">
            <div>
                &copy; Зв'язок з розробником dimasfanzerg@yahoo.com  +380980423458
            </div>

        </div>

{% endblock  %}
