{% extends "pews/base.html" %}
{% load static %}
    {% block up %}
<link rel="stylesheet" href="{% static 'css/pew.css' %}">
    {% endblock %}
{% block title %}
Новини
{% endblock  %}

{% block content %}


<div class="row align-items-center no-gutters">

<div class="coris">
    <h1> {{ post.title }} </h1>
</div>

    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="bd-callout bd-callout-info">
       <p class="termosus"><img  src="{{ MEDIA_URL }}{{ post.picture.url }}"  class="leftimggg">
            </div>
        </div>
 <div class=" col-xl-8 col-lg-6 col-md-12 text-lg-right ">
     <div class="bd-callout bd-callout-info">
     <p class="tuff">
     {{ post.textcontent }}
     </p>
         </div>
 </div>

{% endblock  %}
