{% extends "pews/base.html" %}
{% load static %}
{% block title %}
Документи
{% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "35.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "36.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "37.jpg" %}" >
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "39.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "40.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "41.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "42.jpg" %}" >
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "43.jpg" %}" >
      </div>
      <div class="col-lg-3 col-md-4 col-6">
          <img class="img-fluid" src="{% static "44.jpg" %}" >
      </div>
    </div>

{% endblock  %}
