{% extends "pews/base.html" %}
{% load static %}
    {% block up %}
<link rel="stylesheet" href="{% static 'css/pew.css' %}">
    {% endblock %}
{% block title %}
Транспорт
{% endblock  %}

{% block content %}
   <div class="coris">
        <p>Розклад автобусної станції Кривой Рог АС2</p>
         <img src="{% static "033.jpg" %}">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">Кривий Ріг АС-2    <h2>06:40 - 07:18</h2><h2>09:35 - 10:13</h2><h2>13:30 - 14:08</h2><h2>16:00 - 16:38</h2>     Гейківка (лiкарня)</li>
         </ul>






         <p>Розклад руху приміських потягів</p>
         <img src="{% static "034.jpg" %}">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">Кривий Ріг Головний    <h2>20:35 - 21:15</h2>     Гейківка (зупинка)</li>
         </ul>

      </div>

{% endblock  %}
