{% extends "pews/base.html" %}
{% load static %}
    {% block up %}
     <link rel="stylesheet" href="{% static 'css/pew.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&family=Newsreader:ital,wght@0,200;1,300&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}
Гейківська  лікарня
{% endblock  %}

{% block content %}


<div class="row align-items-center no-gutters">

  <div class="col-xl-5 col-lg-6 col-md-10">
    <div class="bd-callout bd-callout-info">
    <img class="leftimg" src="{% static "01.jpg" %}"  >
        </div>

  </div>

  <div class=" col-xl-5 col-lg-6 col-md-12 text-lg-right ">
        <div class="bd-callout bd-callout-info">

        <p class="tuff">
                КП «Гейківська багатопрфільна лікарня з надання психіатричної допомоги»ДОР» знаходиться в Криворізькому районі на відстані 25 км від м. Кривий Ріг в напрямку м. Миколаїв.
                Заклад має добре облаштовану, мальовничу територію загальною площею 13 га, розрахований на 300 ліжок та надає допомогу за всіма видами психічних розладів.
                В закладі працюють висококваліфіковані медичні спеціалісти загалом з вищою кваліфікаційною категорією.
                В структуру підприємства входять: 4 психіатричних відділення, приймальне відділення, клініко-діагностична лабораторія з бактеріологічним відділом, кабінет ЕКГ, ЕХО та енцефалографії, стоматологічний, R-ген діагностичний кабінети, кабінет УЗД, фізіотерапевтичний кабінет з широким спектром послуг.

        </p>
        </div>

  </div>

</div>
<div class="row align-items-center no-gutters">

    <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="bd-callout bd-callout-info">

        <p class="tuff">
        Всі кабінети оснащені достатньою кількістю якісного медичного обладнання, де працюють ряд вузьких спеціалістів: терапевт, невропатолог, стоматолог, рентгенолог, лікар з ультразвукової діагностики.
               Лікарня є складним технічно-господарським комплексом, який збудований у 1980 р. та має в складі: газову котельню, артезіанську свердловину з питною водою та централізоване водопостачання, очисні споруди, пральню, харчоблок, централізоване стерилізаційне відділення.
               Затишні палати та доброзичливий персонал завжди готові надати психіатричну допомогу всім, хто її потребує.
        </p>
            </div>
        </div>
 <div class=" col-xl-5 col-lg-6 col-md-12 text-lg-right ">
     <div class="bd-callout bd-callout-info">
          <img class="leftimgg" src="{% static "07.jpg" %}"  >
         </div>
 </div>
</div>

{% endblock  %}
