{% extends "pews/base.html" %}
{% load static %}
{% block title %}
Гейківська  лікарня
{% endblock  %}

{% block content %}
<p class="termosus"><img  src="{% static "01.jpg" %}"  class="leftimg">
КП «Гейківська багатопрфільна лікарня з надання психіатричної допомоги»ДОР» знаходиться в Криворізькому районі на відстані 25 км від м. Кривий Ріг в напрямку м. Миколаїв.
Заклад має добре облаштовану, мальовничу територію загальною площею 13 га, розрахований на 300 ліжок та надає допомогу за всіма видами психічних розладів.
В закладі працюють висококваліфіковані медичні спеціалісти загалом з вищою кваліфікаційною категорією.
В структуру підприємства входять: 4 психіатричних відділення, приймальне відділення, клініко-діагностична лабораторія з бактеріологічним відділом, кабінет ЕКГ, ЕХО та енцефалографії, стоматологічний, R-ген діагностичний кабінети, кабінет УЗД, фізіотерапевтичний кабінет з широким спектром послуг.
Всі кабінети оснащені достатньою кількістю якісного медичного обладнання, де працюють ряд вузьких спеціалістів: терапевт, невропатолог, стоматолог, рентгенолог, лікар з ультразвукової діагностики.
Лікарня є складним технічно-господарським комплексом, який збудований у 1980 р. та має в складі: газову котельню, артезіанську свердловину з питною водою та централізоване водопостачання, очисні споруди, пральню, харчоблок, централізоване стерилізаційне відділення.
Затишні палати та доброзичливий персонал завжди готові надати психіатричну допомогу всім, хто її потребує.
</p>

{% endblock  %}
