.bd-callout-info {
    border-left-color: #5bc0de;
}
.bd-callout{
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-color: #5bc0de;
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem
}



p.tuff {
    font-family: 'Comfortaa';
    font-size: large;
    margin-left: 0.2%;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
#footer {
    position:  fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-family: 'Ubuntu';
   }
#footer div {
    padding: 6px; /* Поля вокруг текста */
    background: #2F4F4F; /* Цвет фона */
    }


.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.box div {
    width: 100px;
    height: 100px;
  }

.corus {
    font-family: 'Comfortaa',cursive;

    text-indent: 20px;
    padding-left: 25px;
    font-size: 14;
}

.coris {
    font-family: 'Comfortaa';
    text-align: center;
    padding-left: 25px;
    font-size: x-large;

}

.fork{
  margin-top: 40px;
}

p.furk{
  font-size: x-small;
}

p.fallen{
  font-size: 	x-large;
}


.cores {
    font-family: 'Comfortaa';
    text-align: center;
    padding-left: 25px;
    font-size: 16;
    margin-top: 60px;
}
/* эффекты для картинок */
.coruss {
    font-family: 'Comfortaa';
    text-indent: 20px;
    text-align: center;
}

.termos {
  font-family: 'Ubuntu';
  text-align: center;
  padding-left: 25px;
  font-size: large;
}



p.termoss{
  font-size: large;
}



div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.leftimg {
    height: auto;
    width: 100%;
    max-width: 480px;
    margin-right: 0.3%;
    margin-high: 0.3%;
    border: 3px;
   }


.myImg {
    object-fit: cover;
    width: 640px;
    height: 480px;
  }



.fores {
      text-align: center;
      max-width: 800px;
}


.video-container {
    overflow: hidden;
    position: relative;
    min-height:320px;
    width: 80%;
    margin: 0 auto;
    margin-top: 4px;
}

.video-container video, .video-container iframe {
    position: absolute;
    border: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 65.9375em) {
    .video-container {
      min-height:460px;
      width: 90%;
    }
}

@media screen and (max-width:39.9375em) {
    .video-container {
      min-height:240px;
      width: 100%;
    }
}


div.containers {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; /* центрируем основной контейнер */
}
.containers img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}

